
makeACeP/makeACeP/Debug/makeACeP.tlog/CL.command.1.tlog
makeACeP/makeACeP/Debug/makeACeP.tlog/CL.read.1.tlog
makeACeP/makeACeP/Debug/makeACeP.tlog/CL.write.1.tlog
makeACeP/makeACeP/Debug/makeACeP.tlog/link.read.1.tlog
makeACeP/makeACeP/Debug/makeACeP.tlog/link.write.1.tlog
makeACeP/makeACeP/Debug/vc141.idb
makeACeP/makeACeP/Debug/vc141.pdb
ProcessACeP/.vs/ProcessACeP/v15/Server/sqlite3/db.lock
ProcessACeP/.vs/ProcessACeP/v15/.suo
makeACeP/makeACeP/makeACeP.vcxproj.user
makeACeP/makeACeP/makeACeP.vcxproj.filters
makeACeP/makeACeP/Debug/makeacep.obj.enc
makeACeP/makeACeP/Debug/makeACeP.obj
makeACeP/makeACeP/Debug/makeACeP.log
makeACeP/Debug/makeACeP.pdb
makeACeP/Debug/makeACeP.ilk
ACePview/ACePview/bin/Debug/ACePview.pdb
ACePview/ACePview/ACePview.csproj.user
makeACeP/.vs/makeACeP/v15/.suo
ProcessACeP/.vs/ProcessACeP/v15/Server/sqlite3/storage.ide
ProcessACeP/.vs/ProcessACeP/v15/Server/sqlite3/storage.ide-wal
ProcessACeP/.vs/ProcessACeP/v15/Server/sqlite3/storage.ide-shm
ProcessACeP/ProcessACeP/bin/Debug/231.txt
ProcessACeP/ProcessACeP/bin/Debug/processACeP.bat
